{form recoveryPasswordForm id => 'forgot_pw'}
    <div class="form-group">
        {label email /}
        {input email class => "form-control"}
    </div>
    <p>A breve riceverai una nuova password.</p>

    {input recovery class => "btn_1"}
{/form}
