<div class="company box row no-gutters" style="display: none;">
  <div class="col-12">
    <div class="form-group">
      {label company_name /}
      {input company_name class => 'form-control'}
    </div>
  </div>
</div>
<!-- /row -->
