{layout 'add.latte'}

{block breadcrumbs}
    {include '../includes/breadcrumbs.latte', breadcrumbs => [
        [url => '', label => 'Modifica il tuo annuncio']
    ]}
{/block}

{block images}{/block}