{layout '../@layout.latte'}

{block breadcrumbs}
    {include '../includes/breadcrumbs.latte', breadcrumbs => [
        [url => '', label => 'Annunci']
    ]}
{/block}

{block content}
    {include parent}

    {include '_listing.latte', posts => $posts}
{/block}

{block scripts}
    {include parent}
{/block}