<!DOCTYPE html>
<html lang="en">

<head>
    {include 'includes/head.latte'}

	{block head}{/block}
</head>

<body>
	<div id="page">
		{block header}{/block}
		{block subheader}
			<div class="sub_header_in sticky_header">
				<div class="container">
					<h1>{block h1}{/block}</h1>
				</div>
			</div>
		{/block}
	
		<main>
			{block content}{/block}
		</main>
		<!-- /main -->

		{include 'includes/footer.latte'}
	</div>
	<!-- page -->

	{include 'includes/sign-in.latte'}

	<div id="toTop"></div><!-- Back to top button -->

	{block scripts}
		<!-- COMMON SCRIPTS -->
		<script src="js/functions.js"></script>
		<script src="assets/validate.js"></script>
	{/block}
</body>
</html>