<!DOCTYPE html>
<html lang="en">

<head>
    {include 'includes/head.latte'}

	{block head}{/block}
</head>

<body>
	<div id="page">
		{block header}{/block}

		{block subheader}
			<div class="sub_header_in sticky_header">
				<div class="container">
					<h1>{block h1}{/block}</h1>
				</div>
			</div>
		{/block}

		<main>
			{block content}{/block}
		</main>
		<!-- /main -->

		{include 'includes/footer.latte'}
	</div>
	<!-- page -->

	<div id="toTop"></div><!-- Back to top button -->

	{block scripts}
		<!-- COMMON SCRIPTS -->
		<script src="js/functions.js"></script>
		<script src="assets/validate.js"></script>

    <script>
      $('main').on('click', '.wish_bt.online', function(e) {
        e.preventDefault();

        $.nette.ajax({
          type: 'GET',
          url: {link AddToWishlist!},
          data: {
            'postId': $(this).attr('data-post-id'),
            'add': !$(this).hasClass('liked')
          },
          success: (data) => {
            if (data.success === true) {
              $(this).toggleClass('liked');
            }
          }
        });
      });
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-157914613-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-157914613-1');
    </script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
      (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5e3c1548a89cda5a18848187/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
      })();
    </script>
    <!--End of Tawk.to Script-->
	{/block}
</body>
</html>
