{layout '../@layout.latte'}

{block header}
    {include '../includes/header-homepage.latte'}
{/block}

{block content}
    {include '../includes/search-homepage.latte'}
    {include '../includes/homepage-brands.latte'}

    {include '../includes/showcase.latte'}
    {include '../includes/guidelines.latte'}
{/block}