{layout '../@layout.latte'}

{block header}
    {include '../includes/header-homepage.latte'}
{/block}
{block subheader}{/block}

{block content}
    {include '../includes/search-homepage.latte'}
    {include '../includes/homepage-slide.latte'}
    {include '../includes/homepage-brands.latte', brands => $brands}

    {include '../includes/showcase.latte'}
    {include '../includes/guidelines.latte'}
{/block}