_template
.DS_Store
www/.htaccess
www/images/posts
www/temp
www/utils.php
app/Presenters/TestPresenter.php
app/Presenters/templates/Test/index.latte
/vendor
app/config/local.neon
/www/admin/bower_components
composer.lock
