<header class="header menu_fixed">
    <div id="logo">
        <a n:href="Homepage:index" title="Sparker - Directory and listings template">
            <img src="img/logo.svg" width="165" height="35" alt="" class="logo_normal">
            <img src="img/logo_sticky.svg" width="165" height="35" alt="" class="logo_sticky">
        </a>
    </div>

    {include 'nav-menu.latte'}
</header>
<!-- /header -->