<!-- Sign In Popup -->
<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">
    <div class="small-dialog-header">
        <h3>Sign In</h3>
    </div>

    {include 'sign-in-form.latte'}
    <!--form -->
</div>
<!-- /Sign In Popup -->