<nav class="secondary_nav sticky_horizontal_2">
    <div class="container">
        <ul class="clearfix">
            <li><a href="#description" class="active">Descrizione</a></li>
            <!--<li><a href="#reviews">Recensioni</a></li>-->
            <li><a href="#sidebar">Prenotazione</a></li>
        </ul>
    </div>
</nav>