<div class="hero_in restaurant_detail">
    <div class="wrapper">
        <span class="magnific-gallery">
            <a href="img/gallery/hotel_list_1.jpg" class="btn_photos" title="Photo title" data-effect="mfp-zoom-in">Galleria</a>
            <a href="img/gallery/hotel_list_2.jpg" title="Photo title" data-effect="mfp-zoom-in"></a>
            <a href="img/gallery/hotel_list_3.jpg" title="Photo title" data-effect="mfp-zoom-in"></a>
        </span>
    </div>
</div>
<!--/hero_in-->