parameters:

database:
	#dsn: 'mysql:host=localhost;dbname=autoideale'
	#user: 'root'
	#password:
	dsn: 'mysql:host=remotemysql.com:3306;dbname=qA86pKEbXR'
	user: 'qA86pKEbXR'
	password: '4qcFX4jgFc'

session:
	autoStart: true # default is 'smart'
	debugger: true
