<!DOCTYPE html>
<html lang="en">
    <base href="{$basePath}/admin/">

    <head>
        {include 'includes/head.latte'}	
    </head>

    <body class="fixed-nav sticky-footer" id="page-top">
        {include 'includes/nav-top.latte'}

        <div class="content-wrapper">
            <div class="container-fluid">
                {block breadcrumbs}
                    {include 'includes/breadcrumbs.latte'}
                {/block}

                {block content}{/block}
            </div>
        </div>

        {include 'includes/footer.latte'}

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>

        {block scripts}
            <!-- Bootstrap core JavaScript-->
            <script src="vendor/jquery/jquery.min.js"></script>
            <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            <!-- Core plugin JavaScript-->
            <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
            <!-- Page level plugin JavaScript-->
            <script src="vendor/chart.js/Chart.js"></script>
            <script src="vendor/datatables/jquery.dataTables.js"></script>
            <script src="vendor/datatables/dataTables.bootstrap4.js"></script>
            <script src="vendor/jquery.selectbox-0.2.js"></script>
            <script src="vendor/retina-replace.min.js"></script>
            <script src="vendor/jquery.magnific-popup.min.js"></script>
            <!-- Custom scripts for all pages-->
            <script src="js/admin.js"></script>
        {/block}
    </body>
</html>
