<!doctype html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Un tuo annuncio è stato salvato</title>
</head>
  </body>
    <div style="text-align: center;">
      <img src="http://www.autoideale.it/img/logo_sticky.svg" width="142" >
    </div>

    <h3 align="center">IL TUO ANNUNCIO &Egrave; PIACIUTO A QUALCUNO!</h3>
    <img src="http://www.autoideale.it/img/autoideale-slide-email.jpg" >
    <p>
      Ciao {$post[data]->users->name} {$post[data]->users->surname}!<br/>
      Il tuo annuncio <strong>{$post[data]->title}</strong> è stato salvato da un utente di
      <a href="http://www.autoideale.it">autoideale.it</a>!
    </p>
    <p style="background: #ededed; padding: 20px 20px;">
      <a href="http://www.autoideale.it/admin.dashboard">
        Clicca qui per accedere al tuo account
      </a>
    </p>
  </body>
</html>
