<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Hai ricevuto un nuovo messaggio</title>
    </head>

    <body>
        <div style="text-align: center;">
            <img src="http://medianetspace.com/AutoIdeale-master/www/img/logo_sticky.svg" width="142" >
        </div>

        <h3 align="center">NUOVO MESSAGGIO SU AUTOIDEALE!</h3>
        <img src="http://medianetspace.com/AutoIdeale-master/www/img/autoideale-messaggio.jpg" >
        <p>
            Ciao {$args->name} {$args->surname}!<br/>
            È appena arrivato un messaggio sul tuo <a href="#"><strong>Account</strong></a>.
        </p>
        <p style="background: #ededed; padding: 20px 20px;">
            <a href="#">Clicca qui per rispondere</a>
        </p>
    </body>
</html>
