<!doctype html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Nuova richiesta di appuntamento</title>
</head>
    </body>
        <div style="text-align: center;">
            <img src="http://www.autoideale.it/img/logo_sticky.svg" width="142" >
        </div>

        <h3 align="center">NUOVO APPUNTAMENTO SU AUTOIDEALE!</h3>
        <img src="http://www.autoideale.it/img/autoideale-slide-email.jpg" >
        <p>
            Ciao {$args->name} {$args->surname}!<br/>
            Hai appena ricevuto un appuntamento.
        </p>
        <p style="background: #ededed; padding: 20px 20px;">
            <a href="http://www.autoideale.it/admin.dashboard">Clicca qui per accedere al tuo account</a>
        </p>
    </body>
</html>
