<!doctype html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Nuova registrazione</title>
</head>
    </body>
        <div style="text-align: center;">
        <img src="http://medianetspace.com/AutoIdeale-master/www/img/logo_sticky.svg" width="142" >
        </div>

        <h3 align="center">BENVENUTO SU AUTOIDEALE!</h3>
        <img src="http://medianetspace.com/AutoIdeale-master/www/img/autoideale-slide-email.jpg" >
        <p>
            Ciao {$args->name} {$args->surname}!<br/> 
            Grazie per la tua registrazione su <strong>Autoideale</strong>.
        </p>
        <p style="background: #ededed; padding: 20px 20px;">
            <a href="{$confirmationUrl}" target="_blank">Clicca qui per confermare la tua registrazione</a>
        </p>
        <p>
            Dopo aver cliccato il link, con il tuo nuovo account potrai inserire 
            i tuoi annunci auto e aggiungere prodotti alla tua lista dei desideri, 
            aggiornare i tuoi dati e molto altro.
        </p>
    </body>
</html>
