<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>E' stata generata una nuova password</title>
    </head>

    <body>
        <div style="text-align: center;">
            <img src="https://www.autoideale.it/img/logo_sticky.svg" width="142" >
        </div>

        <h3 align="center">E' stata generata una nuova passowrd!</h3>
        <img src="https://www.autoideale.it/img/autoideale-messaggio.jpg" >
        <p>
            Ciao {$user->name} {$user->surname}!<br/>
            È stata generata una nuova password per accedere al tuo <a href="#"><strong>Account</strong></a>.
        </p>
        <p>
            <pre><strong>{$password}</strong></pre>
        </p>
        <p style="background: #ededed; padding: 20px 20px;">
            <small>Se non hai richiesto alcun cambio password, ignora pure questa email.</small>
        </p>
    </body>
</html>
