{layout './@layout.latte'}

{block content}
	{foreach $flashes as $flash}
		<div class="alert alert-{$flash->type}" role="alert">
			{$flash->message}
		</div>
	{/foreach}

    {include '../includes/sign-in-form.latte'}
{/block}