/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/

.custom-search-input-2 select.form-control {
    display: block;
}

.custom-search-input-2.inner input[type='submit'] {
    height: 43px;
    right: 0px;
}

.hero_single .wrapper .container .custom-search-input-2 input[type=submit] {
  border-color: #004dda;
  background-color: #004dda;
  color: #ffffff;
}
.hero_single .wrapper .container .custom-search-input-2 input[type=submit]:hover {
  border-color: #0069d9;
  background-color: #0069d9;
}

.hero_single .btn.btn-lg {
  border-color: #ffb600;
  background-color: #ffc107;
}
.hero_single .btn.btn-lg:hover {
  border-color: #32a067;
  background-color: #32a067;
}

.homepage-brands {
    width: 100%;
}

.homepage-brands .homepage-brands-model {
    vertical-align: top;
    text-align: center;
    width: 33%;
    padding: 10px 0 30px 0;
    background: #f6f6f6;
    border: solid 25px #ffffff;
}

.hero_in.restaurant_detail {
  height: 300px;
}
.hero_in.restaurant_detail:before {
  background: none;
}
.hero_in.restaurant_detail .wrapper {
  position:relative;
  background-image: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#description .bullets li::before {
    content: attr(data-icon);
    top: 3px;
    font-size: 18px;
}

.advanced-search-link {
    text-align: right;
}

.advanced-search-link a {
    color: #FFF;
}

#advancedSearchForm .row {
    margin-bottom: 10px;
}

#advancedSearchForm input[type=submit] {
    width: auto;
    border-radius: 3px;
}

#advancedSearchForm input {
    border: 1px solid #d2d8dd;
}

#advancedSearchForm .doors_label {
    display: block;
}

#advancedSearchForm .btn-group {
    width: 100%;
}

#advancedSearchForm .btn-group .btn {
    padding: 12px;
    width: 25%;
}

#search-results-wrapper .loading {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity .5s;
    background: #FFF;
    z-index: 2;
}

#search-results-wrapper .loading.active {
    display: block;
    opacity: .9;
    transition: opacity .5s;
}

.btn_1.wishlist i.liked {
  color: red;
}

.collapse.force-hide {
  display: none !important;
}

.mapboxgl-popup-content .strip.map_view {
  margin-top: 5px;
  min-width: 430px;
  margin-bottom: 0px;
}
.mapboxgl-popup-content .strip.map_view .post-status {
  display: none;
}
.mapboxgl-popup-content .strip.map_view .address {
  display: none;
}

@media (max-width: 767px) {
  .hero_single.version_5 {
    height: 610px;
  }

  .hero_single.version_5 .wrapper {
    padding-top: 30px;
  }
}

#sidebar a.wishlist {
  width: 100%;
}
#sidebar a.wishlist:hover {
  color: #FFF !important;
}
